@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #0d3562;
    --secondary-color: #27cb8b;
    --primary-color: #0010ff;
  }
  .hover-effect{
    display: inline-block;
  position: relative;
  }
  .hover-effect:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0010ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }
  .hover-effect:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
  }
  .btn-secondary{
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  .btn-slide{
    border-radius: 10px;
    text-transform: uppercase;
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 16px 32px;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .btn-slide::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--secondary-color);
    transition: transform 0.5s ease-in-out;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    transform-origin: left;
  }
  .btn-slide:hover::before,
  .btn-slide:focus::before{
    transform: scaleX(1);
  }
  .hero-bg{
    background-image: url(../../public/hero-shape2.png);
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    width: 80%;
  }
  .social-icon{
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out 0s;
    animation-duration: 500ms;
  }
  .icon:hover, .icon:focus .social-icon {
    transform: rotateY(180deg);
  }